
.icon-div{
    display: flex;   
    justify-content: space-evenly;
    width: 50%;
}
.custom-display{
    display: flex;
    justify-content: space-between;
}
.custom-flex{
    display: flex;
    justify-content: space-evenly;
}

.fixed-width-select{
    width: 200px;
}


