.headerbar-div{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 1px grey;
}


.buttons-div{
    display: flex;
    height: inherit;
    gap: 10px;
}

.header-nav-tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.header-nav-tabs .nav-link {
  display: flex;
  align-items: flex-end; 
  gap: 6px; 
  padding-bottom: 4px; 
  color: black;
  background-color: white;
  border-bottom: none;
  font-weight: 500;
  border-radius: 0;
}


.header-nav-tabs .nav-link.active {
  background-color: #f0f0f0; /* light grey */
  border-bottom: 3px solid #555; /* visible bottom border */
  color: #000;
}

.task-header {
  display: flex;
  align-items: flex-end;
  gap: 6px;
}

.task-title {
  margin: 0;
  font-size: 16px;
}

