.row-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 equal columns */
  /* gap: 8px; */
  align-items: center;
  justify-items: center;
}

.container-data-div{
    padding: 0 0px;
    column-gap: 20px;
}

.heading-cell {
  display: flex;
  align-items: center;
  gap: 4px;
}

.heading-label-head {
  margin: 0;
  color: grey;
  opacity: 0.85;
  font-size: 14px;
}

.bi-caret-down-fill{
    cursor: pointer;
}