#root {
  margin: 0;
  padding: 0;
}

*{
  font-family: 'Inter',Tahoma, Geneva, Verdana, sans-serif;
}


@media (min-width:848px) {
  .container-layout{
    display: grid;
    grid-template-rows: 70px 1fr ;
    grid-template-columns: 200px 1fr ;
    grid-template-areas:
          "sidebar-layout navbar-layout" 
          "sidebar-layout main-layout";
    height: 100vh;

}
}

@media (max-width:848px){
  .container-layout{
    display: grid;
    grid-template-rows: 70px 1fr ;
    grid-template-columns: 200px 1fr ;
    grid-template-areas:
          "sidebar-layout navbar-layout" 
          "main-layout main-layout";
    height: 100vh;

}
}


.sidebar-layout{
  grid-area: sidebar-layout;
  background-color: white;
  border-right: 0.5px solid grey;
}

.navbar-layout{
  grid-area: navbar-layout;
  background-color: white;
  
}

.main-layout-container-dashboard{
  /* grid-area: main-layout; */
  background-color: white;
  display: grid;
  grid-template-rows: 60px 60px 50px 1fr ;
  grid-template-columns: 1fr;
  grid-template-areas: 
            "header1-layout"
            "header2-layout"
            "data-header-layout"
            "main-layout";
  /* height: 100vh; */
  overflow: hidden;
  max-height: 100vh;
  
}

.header1-layout{
  grid-area: header1-layout;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 0 25px 0 10px;
  /* border-bottom: solid black 0.5px; */
}

.header2-layout{
  grid-area: header2-layout;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 25px 0 10px;

  
}

.data-header-layout{
  grid-area: data-header-layout;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 25px 0 10px;
}

.main-layout{
  grid-area: main-layout;
  background-color: white;
  padding: 5px 20px 5px 10px ;
  overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.main-layout::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.main-layout-container-newcontract{
  /* grid-area: main-layout; */
  background-color:aqua;
  display: grid;
  grid-template-rows: 60px 1fr ;
  grid-template-columns: 1fr;
  grid-template-areas: 
            "header1-layout"
            "newcontract-main";
  height: 100vh;

}

.newcontract-main{
  grid-area: newcontract-main;
  background-color:white;
  display: grid;
  grid-template-rows: 80px 80px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
            "newcontract-top-left newcontract-top-right"
            "newcontract-middle-left newcontract-middle-right" 
            "newcontract-bottom newcontract-bottom";
}

.newcontract-top-left{
  grid-area: newcontract-top-left;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  padding-left: 1rem;
}

.newcontract-top-right{
  grid-area: newcontract-top-right;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newcontract-middle-left{
  grid-area: newcontract-middle-left;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.newcontract-middle-right{
  grid-area: newcontract-middle-right;
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.newcontract-bottom{
  grid-area: newcontract-bottom;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.75rem;
 
}

.main-layout-container-exporter{
    background-color: white;
    display: grid;
    grid-template-rows: 60px 50px 1fr ;
    grid-template-columns: 1fr;
    grid-template-areas: 
              "header2-layout"
              "data-header-layout"
              "main-layout";
    /* height: 100vh; */
    overflow: hidden;
    max-height: 100vh;
}

.newcontract-bottom .buttons{
  display: flex;
  /* space between buttons inside the newcontract page */
gap: 0.75rem; /* space between Cancel, Save, Save&Send */
  align-items: center;
}

.main-layout-container-exporter{
    background-color: white;
    display: grid;
    grid-template-rows: 60px 50px 1fr ;
    grid-template-columns: 1fr;
    grid-template-areas: 
              "header2-layout"
              "data-header-layout"
              "main-layout";
    /* height: 100vh; */
    overflow: hidden;
    max-height: 100vh;
}